<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04" aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor04">

      <ul class="navbar-nav me-auto">
        {% for item in main_menu %}
          {% if item.below %}
            <li class="nav-item dropdown {{ item.in_active_trail ? 'active' : '' }}">
              <a class="nav-link dropdown-toggle" href="{{ item.url }}" role="button" aria-haspopup="true" aria-expanded="false">
                {{ item.title }}
              </a>
              <ul class="dropdown-menu">
                {% for sub_item in item.below %}
                  <li><a class="dropdown-item" href="{{ sub_item.url }}">{{ sub_item.title }}</a></li>
                {% endfor %}
                <div class="dropdown-divider"></div>
              </ul>
            </li>
          {% else %}
            <li class="nav-item {{ item.in_active_trail ? 'active' : '' }}">
              <a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>

    </div>
  </div>
</nav>
