{% set navbar_classes = {
  'Navbar_1': 'navbar navbar-expand-lg bg-primary',
  'Navbar_2': 'navbar navbar-expand-lg bg-dark',
  'Navbar_3': 'navbar navbar-expand-lg bg-light',
  'Navbar_4': 'navbar navbar-expand-lg'
}[navbar_type] %}
{% set data_bs_theme = navbar_type == 'Navbar_3' ? 'light' : 'dark' %}
{% set data_bs_target = {
  'Navbar_1': '#navbarColor01',
  'Navbar_2': '#navbarColor02',
  'Navbar_3': '#navbarColor03',
  'Navbar_4': '#navbarColor04'
}[navbar_type] %}
{% set aria_controls = {
  'Navbar_1': 'navbarColor01',
  'Navbar_2': 'navbarColor02',
  'Navbar_3': 'navbarColor03',
  'Navbar_4': 'navbarColor04'
}[navbar_type] %}


<nav class="{{ navbar_classes }}" data-bs-theme="{{ data_bs_theme }}">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="{{ data_bs_target }}" aria-controls="{{ aria_controls }}" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="{{ aria_controls }}">
      <ul class="navbar-nav me-auto">
        {% for item in main_menu %}
          {% if item.below %}
            <li class="nav-item dropdown {{ item.in_active_trail ? 'active' : '' }}">
              <a class="nav-link dropdown-toggle" href="{{ item.url }}" role="button" aria-haspopup="true" aria-expanded="false">
                {{ item.title }}
              </a>
              <ul class="dropdown-menu">
                {% for sub_item in item.below %}
                  <li><a class="dropdown-item" href="{{ sub_item.url }}">{{ sub_item.title }}</a></li>
                {% endfor %}
                <div class="dropdown-divider"></div>
              </ul>
            </li>
          {% else %}
            <li class="nav-item {{ item.in_active_trail ? 'active' : '' }}">
              <a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
